html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.22;
    color: #000000;
    background-color: #FFFFFF;
    width: 100%;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.center-wrapper {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container--about-me {
    line-height: 1.5;
}

.menu {
    margin-top: 10px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu__link {
    color: #4299E1;
    text-decoration: none;
}

.menu__item:nth-child(2n) .menu__link {
    color: #ED8936;
}

.menu__link:hover, .menu__item:nth-child(2n) .menu__link:hover {
    color: #333333;
    text-decoration: underline;
}

.hamburger-menu {
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 11px 0;
    margin-bottom: 10px;
    display: none;
}

.hamburger-menu:hover {
    cursor: pointer;
}

.hamburger-item {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #4299E1;
    border-radius: 64px;
    margin: 3px 0;
}

.hamburger-item--1, .hamburger-item--3 {
    transition: all 0.3s;
}

.hamburger-menu--open .hamburger-item--1 {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}

.hamburger-menu--open .hamburger-item--2 {
    visibility: hidden;
}

.hamburger-menu--open .hamburger-item--3 {
    transform: rotate(-45deg);
    position: relative;
    bottom: 8px;
}

.header__name {
    font-size: 36px;
    margin: 0;
}

.header-container__element {
    width: 60px;
    height: 10px;
    background-color: #90CDF4;
    border-radius: 64px;
    margin: 25px 0;
}

.header-container-element--2 {
    background-color: #FBD38D;
}

.header-about-me {
    font-size: 24px;
    color: #4299E1;
    margin: 0;
    margin-bottom: 10px;
}

.header-about-me__element {
    font-weight: bold;
    color: #333333;
}

.header-container--contact {
    margin-left: 50px;
    padding-bottom: 27px;
    background-image: url('../assets/img/header.jpg');
    background-repeat: no-repeat;
    background-position: top 0 right 0;
}

.header__photo {
    margin: 23px 0 13px 40px;
    border: 5px solid #FBD38D;
    border-radius: 50%;
}

.contact-information {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}

.contact-information__item {
    width: 256px;
    text-align: center;
    padding: 8px 28px;
    margin: 0 35px 7px 0;
    border-radius: 64px;
    background-color: #90CDF4;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.contact-information--tel {
    background-color: #FBD38D;
    margin-left: 30px;
    margin-right: 5px;
}

.position-container {
    position: relative;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-wrapper__item {
    width: calc(100% / 2 - 25px);
    margin-bottom: 30px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

.work-experiences {
    background-image: url('../assets/img/work.jpg');
    background-repeat: no-repeat;
    background-position: top 35px left 3px;
}

.clear-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.work-experiences__list {
    padding-left: 35px;
}

.experiences-item {
    margin-bottom: 20px;
}

.experiences-item__years, .education-item__years {
    color: #ED8936;
    margin-bottom: 2px;
}

.experiences-item__company, .education-item__company {
    font-size: 16px;
    margin-bottom: 2px;
}

.education {
    margin-left: 50px;
}

.courses {
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.courses__name {
    margin-top: 5px;
}

.courses__link {
    color: #4299E1;
    text-decoration: none;
}

.courses__link:hover {
    color: #ED8936;
}

.languages__list {
    display: flex;
}

.languages__item {
    margin: 0 30px;
    text-align: center;
}

.languages-item__element {
    border: 2px solid #FBD38D;
    border-radius: 50%;
    background-color: #FBD38D;
}

.skills {
    position: absolute;
    bottom: 30px;
    right: 0;
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__item {
    font-weight: bold;
    background-color: #FBD38D;
    color: #333333;
    border-radius: 64px;
    padding: 8px 35px;
    margin: 5px 7px;
}

.skills__item:nth-child(2n) {
    background-color: #63B3ED;
    color: #FFFFFF;
}

.code-example__pre {
    margin: 0;
}

.portfolio__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5px;
    column-gap: 5px;
}

.portfolio-item {
    position: relative;
}

.portfolio-item--1, .portfolio-item--2 {
    grid-column: span 6;
}

.portfolio-item--3 {
    grid-column: span 12;
}

.portfolio__link {
    text-decoration: none;
    color: #333333;
}

.portfolio-item__figure {
    margin: 0;
}

.portfolio-item__img {
    display: block;
}

.portfolio-item__figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 5px;
    text-align: center;
    background-color: rgba(251, 211, 141, 0.6);
}

.portfolio-item__figcaption:hover {
    transition: all 0.5s ease-in-out;
    background-color: rgba(251, 211, 141, 0.8);
}

.portfolio-item__title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.portfolio-item__subtitle {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    margin-top: 7px;
}

.portfolio-item__description {
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
}

.footer {
    margin-top: 20px;
}

.my-github {
    background-color: #ED8936;
    border-radius: 64px;
    padding: 10px 38px;
    align-self: center;
}

.my-github:hover {
    background-color: #FBD38D;
}

.my-github:hover .my-github__link {
    color: #333333;
}

.my-github__link {
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__years {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    align-self: center;
}

.rs-school {
    background-color: #90CDF4;
    border-radius: 64px;
    padding: 5px 38px;
}

.rs-school:hover {
    background-color: #4299E1;
}